---
resources:
  - resources/deployment.yaml
  - resources/service.yaml

configMapGenerator:
  - name: mirror-proxy-config
    namespace: kubevirt-prow-jobs
    files:
      - configs/ca.crt
  - name: mirror-proxy-config
    namespace: kubevirt-prow
    files:
      - configs/ca.crt
  - name: docker-daemon-mirror-config
    namespace: kubevirt-prow-jobs
    files:
      - configs/docker
      - configs/docker-proxy

secretGenerator:
  - name: docker-mirror-proxy
    namespace: kubevirt-prow
    files:
      - ca.key=secrets/ca.key
    type: Opaque

generatorOptions:
  disableNameSuffixHash: true
