{{- /*

    This file is part of the KubeVirt project

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

    Copyright 2023 Red Hat, Inc.

*/ -}}

{{- /* gotype: kubevirt.io/project-infra/robots/test-label-analyzer/cmd.StatsHTMLData */ -}}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style>
        .date {
            white-space: nowrap;
        }

        a.nounderline {
            text-decoration: none;
        }

        .matchingLine {
            font-weight: bold;
        }

        .code {
            font-family: monospace;
            display: block;
            white-space: pre-wrap;
        }
    </style>
</head>
<body>
<h1>Overview of tests filtered by {{ if $.ConfigurationOptions.ConfigName }}{{ $.ConfigurationOptions.ConfigName }}{{ else if $.ConfigurationOptions.ConfigFile }}{{ $.ConfigurationOptions.ConfigFile }}{{ else if $.ConfigurationOptions.FilterTestNamesFile }}{{ $.ConfigurationOptions.FilterTestNamesFile }}{{ end }}</h1>
<div>Total: {{ $.TestHTMLData | len }} tests</div>
<table>
    {{- range $testHTMLDataElem := $.TestHTMLData }}
        <tr>
            <td colspan="2"><a href="{{ $testHTMLDataElem.RemoteURL }}">{{ $testHTMLDataElem.RemoteURL }}</a></td>
        </tr>
        {{- if $testHTMLDataElem.MatchingPath.GitBlameLines }}
            {{- range $index, $gitBlame := $testHTMLDataElem.MatchingPath.GitBlameLines }}
                <tr>
                    {{ if (index $testHTMLDataElem.ElementsMatchingConfig $index) -}}
                        <td class="date">
                            {{- if (index $testHTMLDataElem.Permalinks $index) -}}
                                <a class="nounderline" title="{{ if $testHTMLDataElem.MatchingPath.MatchingCategory.BlameLine }}{{ $testHTMLDataElem.MatchingPath.MatchingCategory.BlameLine.Date }} by {{ $testHTMLDataElem.MatchingPath.MatchingCategory.BlameLine.Author }}{{ else }}{{ $gitBlame.CommitID }} by {{ $gitBlame.Author }}{{ end }}"
                                   href="{{ index $testHTMLDataElem.Permalinks $index }}">{{ index $testHTMLDataElem.Age $index }}</a>
                            {{- end }}</td>
                    {{- else }}
                        <td></td>{{ end }}
                    <td
                            {{- if (index $testHTMLDataElem.ElementsMatchingConfig $index) }} class="matchingLine"
                            title="Matched: {{ $testHTMLDataElem.MatchingPath.MatchingCategory.TestNameLabelRE }} ({{ $testHTMLDataElem.MatchingPath.MatchingCategory.Name }})"{{ end -}}
                    ><a class="nounderline" href="{{ $testHTMLDataElem.RemoteURL }}#L{{ $gitBlame.LineNo }}"><span
                                    class="code">{{ $gitBlame.Line }}</span></a></td>
                </tr>{{ end -}}
            <tr>
                <td colspan="2">
                    <hr/>
                </td>
            </tr>
        {{ end -}}
    {{ end -}}
</table>
<div style="text-align: right"><i>Last updated: {{ $.Date}}</i></div>
</body>
</html>
