[Unit]
Description=Jenkins Swarm client

[Service]
Type=simple
User=jenkins
ExecStart=/usr/bin/java -jar /opt/swarm-client.jar -master {{ master }} -username {{ jenkinsUser }} -password @/opt/.pwd -executors {{ slaveSlots }} -deleteExistingClients
Restart=always

[Install]
WantedBy=multi-user.target
