github/ci/**/group_vars/all/main.yml
github/ci/prow-deploy/vars/ibmcloud-production/secrets.yml
github/ci/prow-deploy/vars/workloads-production/secrets.yml
*~
github/ci/phx-prow/inventory
*pyc
venv
github/ci/*.retry
testaccount.json
bazel-*
.idea
images/autoowners/autoowners
