- name: launch config rendering
  shell: |
    ./render-environment-configs.sh {{ deploy_environment }}
  args:
    chdir: "{{ project_infra_root}}/github/ci/prow-deploy/kustom"

- name: validate Kustomize result
  shell: |
    kustomize build overlays/{{ deploy_environment }}
  args:
    chdir: "{{ project_infra_root}}/github/ci/prow-deploy/kustom"

- name: Launch deployment
  shell: |
    kustomize build overlays/{{ deploy_environment }} | kubectl apply -f -
  args:
    chdir: "{{ project_infra_root}}/github/ci/prow-deploy/kustom"
  environment:
    KUBECONFIG: "{{ kubeconfig_path }}"

- name: Bootstrap the full job config
  shell: |
    config-bootstrapper \
      --dry-run=false \
      --source-path=$CONFIG_ROOT \
      --config-path=$PROW_CONFIG_PATH \
      --plugin-config=$PLUGIN_CONFIG_PATH \
      --job-config-path=$JOB_CONFIG_PATH
  environment:
    CONFIG_ROOT: "{{ project_infra_root }}/github/ci/prow-deploy/kustom/overlays/{{ deploy_environment }}/configs"
    JOB_CONFIG_PATH: "{{ project_infra_root }}/github/ci/prow-deploy/files/jobs/"
    PROW_CONFIG_PATH: "{{ project_infra_root }}/github/ci/prow-deploy/kustom/overlays/{{ deploy_environment }}/configs/config/config.yaml"
    PLUGIN_CONFIG_PATH: "{{ project_infra_root }}/github/ci/prow-deploy/kustom/overlays/{{ deploy_environment }}/configs/plugins/plugins.yaml"
    KUBECONFIG: "{{ kubeconfig_path }}"
  when: bootstrap_full_config

- name: Reconcile webhooks for onboarded repositories
  shell: |
    hmac \
      --config-path=$PROW_CONFIG_PATH \
      --github-token-path=$GITHUB_TOKEN_PATH \
      --kubeconfig=$KUBECONFIG \
      --kubeconfig-context=ibm-prow-jobs \
      --hmac-token-secret-namespace={{ prowNamespace }} \
      --hmac-token-secret-name=hmac-token \
      --hmac-token-key=hmac \
      --hook-url https://prow.ci.kubevirt.io/hook \
      --deck-url https://prow.ci.kubevirt.io/ \
      --dry-run=false
  environment:
    PROW_CONFIG_PATH: "{{ project_infra_root }}/github/ci/prow-deploy/kustom/overlays/{{ deploy_environment }}/configs/config/config.yaml"
    GITHUB_TOKEN_PATH: "{{ secrets_dir }}/oauth-token"
    KUBECONFIG: "{{ kubeconfig_path }}"
  when: reconcile_github_webhooks

- name: Patch SRIOV nodes
  shell: |
    {{ project_infra_root }}/hack/patch_node.sh {{ item.name }} {{ item.capacity }}
  loop: "{{ SRIOVNodes }}"
  environment:
    KUBECONFIG: "{{ kubeconfig_path }}"
