periodics:
- name: periodic-test-infra-close
  interval: 1h
  spec:
    containers:
    - image: gcr.io/k8s-testimages/commenter:v20170808-abf66782
      args:
      - |-
        --query=org:kubevirt
        -label:lifecycle/frozen
        label:lifecycle/rotten
      - --updated=720h
      - --token=/etc/github/oauth
      - |-
        --comment=Rotten issues close after 30d of inactivity.
        Reopen the issue with `/reopen`.
        Mark the issue as fresh with `/remove-lifecycle rotten`.

        /close
      - --template
      - --ceiling=10
      - --confirm
      volumeMounts:
      - name: token
        mountPath: /etc/github
    volumes:
    - name: token
      secret:
        secretName: oauth-token

- name: periodic-test-infra-rotten
  interval: 1h
  spec:
    containers:
    - image: gcr.io/k8s-testimages/commenter:v20170808-abf66782
      args:
      - |-
        --query=org:kubevirt
        -label:lifecycle/frozen
        label:lifecycle/stale
        -label:lifecycle/rotten
      - --updated=720h
      - --token=/etc/github/oauth
      - |-
        --comment=Stale issues rot after 30d of inactivity.
        Mark the issue as fresh with `/remove-lifecycle rotten`.
        Rotten issues close after an additional 30d of inactivity.

        If this issue is safe to close now please do so with `/close`.

        /lifecycle rotten
      - --template
      - --ceiling=10
      - --confirm
      volumeMounts:
      - name: token
        mountPath: /etc/github
    volumes:
    - name: token
      secret:
        secretName: oauth-token

- name: periodic-test-infra-stale
  interval: 1h
  spec:
    containers:
    - image: gcr.io/k8s-testimages/commenter:v20170808-abf66782
      args:
      - |-
        --query=org:kubevirt
        -label:lifecycle/frozen
        -label:lifecycle/stale
        -label:lifecycle/rotten
      - --updated=2160h
      - --token=/etc/github/oauth
      - |-
        --comment=Issues go stale after 90d of inactivity.
        Mark the issue as fresh with `/remove-lifecycle stale`.
        Stale issues rot after an additional 30d of inactivity and eventually close.

        If this issue is safe to close now please do so with `/close`.

        /lifecycle stale
      - --template
      - --ceiling=10
      - --confirm
      volumeMounts:
      - name: token
        mountPath: /etc/github
    volumes:
    - name: token
      secret:
        secretName: oauth-token

presubmits:
  rmohr/kubevirt:
  - name: pull-kubevirt-test
    always_run: true
    decorate: true
    branches:
    - master
    spec:
      containers:
      - image: busybox
        args:
        - "echo"
        - "hello world"
        resources:
          requests:
            memory: "1Gi"
