{{- /*

    This file is part of the KubeVirt project

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

    Copyright The KubeVirt Authors.

*/ -}}

{{- /* gotype: kubevirt.io/project-infra/robots/cmd/quarantine/cmd.MostFlakyTestsTemplateData */ -}}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>kubevirt/kubevirt: most flaky tests report</title>
    <style>
        body {
            font-family: 'Segoe UI', 'Roboto', sans-serif;
        }

        .container {
            max-width: 1800px;
            margin: 0 auto;
            padding: 5px;
            width: 100%;
        }

        .card-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
            gap: 10px;
            margin-bottom: 10px;
        }

        .card {
            background-color: #fff;
            border-radius: var(--border-radius);
            box-shadow: var(--box-shadow);
            padding: 10px;
            display: flex;
            flex-direction: column;
            transition: transform var(--transition-speed);
        }

    </style>
</head>
<body>
<section class="container">
    <h1>kubevirt/kubevirt: most flaky tests report</h1>
</section>

{{ if $.SIGs }}
    <section class="container">
        <div class="card-grid">
            <div class="card" id="index">
                {{ range $sig := $.SIGs }}<a href="#{{ $sig }}">{{ $sig }}</a>&nbsp;{{ end }}
            </div>
        </div>
    </section>
    {{ range $sig := $.SIGs }}
        <hr/>
        <section class="container">
            <div class="card-grid">
                <div class="card" id="{{ $sig }}">
                    <h1>{{ $sig }} <a href="#index">&uarr;</a></h1>
                </div>
            </div>
        </section>
        <section class="container">
            <div class="card-grid">
                {{ range $testName := $.TestNames }}
                    {{ $mostFlakyTests := index $.MostFlakyTestsBySig $sig $testName }}
                    {{ if $mostFlakyTests }}
                        <div class="card" id="test_{{ $testName }}">
                            <a href="#test_{{ $testName }}">#</a>
                            <code title="{{ $testName }}">{{ $testName }}</code><br/>
                            {{ range $mostFlakyTest := $mostFlakyTests }}
                                {{ range $relevantImpact := $mostFlakyTest.RelevantImpacts -}}
                                    <span style="white-space: nowrap;">
                                        <a href="{{ $mostFlakyTest.SearchCIURL }}" title="execute query on search.ci">🔎</a>
                                        💥<span title="Test has impact of {{ $relevantImpact.Percent }}%"> <b>{{ $relevantImpact.Percent }}%</b> over <b>{{ $mostFlakyTest.TimeRange }}</b></span> on<br/>
                                        <a href="{{ $relevantImpact.URL }}">{{ $relevantImpact.URLToDisplay }}</a>:</span> <span
                                            style="white-space: nowrap;">Failures: {{ range $buildURL := $relevantImpact.BuildURLs -}}
                                            <a href="{{ $buildURL.URL }}"
                                               title="{{ $buildURL.URL }}">{{ $buildURL.Interval }}</a> {{ end }}
                                    </span><br/>
                                {{- end }}
                            {{ end }}
                        </div>
                    {{ end }}
                {{ end }}
            </div>
        </section>
    {{ end }}
{{ else }}
    <section class="container">
        <div class="card-grid">
            No results for any SIG! 🥳 💃🕺
        </div>
    </section>
{{ end }}

<section class="container">
    <div style="text-align: right"><i>Last updated: {{ $.ReportCreation }}</i></div>
</section>
</body>
</html>
