apiVersion: batch/v1
kind: CronJob
metadata:
  name: branch-protector
spec:
  schedule: "54 * * * *"  # Every hour at 54 minutes past the hour
  concurrencyPolicy: Forbid
  jobTemplate:
    metadata:
      labels:
        app: branchprotector
    spec:
      template:
        spec:
          containers:
            - name: branchprotector
              image: us-docker.pkg.dev/k8s-infra-prow/images/branchprotector:v20260220-ea4b6a3dc
              args:
                - --config-path=/etc/config/config.yaml
                - --job-config-path=/etc/job-config
                - --github-token-path=/etc/github/oauth
                - --confirm
                - --github-endpoint=http://ghproxy
                - --github-endpoint=https://api.github.com
              volumeMounts:
                - name: oauth
                  mountPath: /etc/github
                  readOnly: true
                - name: config
                  mountPath: /etc/config
                  readOnly: true
                - name: job-config
                  mountPath: /etc/job-config
                  readOnly: true
          restartPolicy: Never
          volumes:
            - name: oauth
              secret:
                secretName: oauth-token
            - name: config
              configMap:
                name: config
            - name: job-config
              configMap:
                name: job-config
