---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: prow-rehearse
rules:
  - apiGroups:
      - prow.k8s.io
    resources:
      - prowjobs
    verbs:
      - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: prow-rehearse
roleRef:
  apiGroup: rbac.authorization.k8s.io
  name: prow-rehearse
  kind: ClusterRole
subjects:
  - kind: ServiceAccount
    name: prow-rehearse
    namespace: default
