---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: referee
  labels:
    app: referee
spec:
  replicas: 1
  selector:
    matchLabels:
      app: referee
  template:
    metadata:
      labels:
        app: referee
    spec:
      terminationGracePeriodSeconds: 180
      containers:
      - name: referee
        image: quay.io/kubevirtci/referee:v20260114-a457511
        args:
        - --dry-run=false
        - --max-no-of-allowed-retest-comments=3
        - --port=9900
        - --github-token-path=/etc/github/oauth
        - --github-endpoint=http://ghproxy
        - --github-endpoint=https://api.github.com
        ports:
        - name: http
          containerPort: 9900
        volumeMounts:
        - name: hmac
          mountPath: /etc/webhook
          readOnly: true
        - name: oauth
          mountPath: /etc/github
          readOnly: true
        - name: plugins
          mountPath: /etc/plugins
          readOnly: true
        - name: cache
          mountPath: /var/run/cache
          readOnly: false
      volumes:
      - name: hmac
        secret:
          secretName: hmac-token
      - name: oauth
        secret:
          secretName: commenter-oauth-token
      - name: plugins
        configMap:
          name: plugins
      - name: cache
        emptyDir: {}
