---
- name: Create project
  openshift_raw:
    state: present
    kind: Project
    name: '{{ prowNamespace }}'
- name: Add admins to the project
  command: "oc -n {{prowNamespace}} apply -f -"
  args:
    stdin: "{{ lookup('template', '{{ role_path }}/templates/admin-rbac.yaml')}}"
- name: Create tokens
  openshift_raw:
    state: present
    definition: "{{ lookup('template', '{{ role_path }}/templates/{{ item }}') | from_yaml }}"
  loop:
    - hmac-token.yaml
    - oauth-token.yaml
- name: Update prow plugins config 
  openshift_raw:
    state: present
    definition: "{{ lookup('template', '{{ role_path }}/templates/plugins.yaml') | from_yaml }}"
  state: present
  vars:
    prowPluginsConfig: "{{ lookup('file', '{{ role_path }}/files/plugins.yaml') }}"
- name: Update prow job config
  openshift_raw:
    state: present
    definition: "{{ lookup('template', '{{ role_path }}/templates/config.yaml') | from_yaml }}"
  state: present
  vars:
    prowConfig: "{{ lookup('file', '{{ role_path }}/files/config.yaml') }}"
- name: Update prow label-sync config
  openshift_raw:
    state: present
    definition: "{{ lookup('template', '{{ role_path }}/templates/labels.yaml') | from_yaml }}"
  state: present
  vars:
    prowLabelsConfig: "{{ lookup('file', '{{ role_path }}/files/labels.yaml') }}"
- name: Deploy prow-hook-role
  command: "oc -n {{prowNamespace}} apply -f -"
  args:
    stdin: "{{ lookup('template', '{{ role_path }}/templates/hook-rbac.yaml')}}"
- name: Deploy prow-hook-rbac-role-binding
  command: "oc -n {{ prowNamespace }} apply -f -"
  args:
    stdin: "{{ lookup('template', '{{ role_path }}/templates/hook-rbac-role-binding.yaml')}}"
- name: Create prow hook
  openshift_raw:
    state: present
    definition: "{{ lookup('template', '{{ role_path }}/templates/{{ item }}') | from_yaml }}"
  loop:
    - route-hook.yaml
    - hook-service-account.yaml
    - hook.yaml
    - hook-service.yaml
    - label-sync.yaml
- name: Deploy Jenkins
  openshift_raw:
    state: present
    definition: "{{ lookup('template', '{{ role_path }}/templates/{{ item }}') | from_yaml }}"
  loop:
    - jenkins-secret.yaml
    - jenkins-service.yaml
    - jenkins-pvc.yaml
    - jenkins.yaml
