---
#- name: Create project
#  k8s:
#    state: present
#    definition:
#      kind: Project
#      name: '{{ prowNamespace }}'
#      display_name: Prow
#      description: Prow for KubeVirt
- name: Add admins to the project
  command: "oc -n {{prowNamespace}} apply -f -"
  args:
    stdin: "{{ lookup('template', '{{ role_path }}/templates/admin-rbac.yaml')}}"
- name: Create Prow Routes
  command: "oc -n {{prowNamespace}} apply -f -"
  args:
    stdin: "{{ lookup('template', '{{ role_path }}/templates/routes.yaml')}}"
- name: Create HMAC secret
  k8s:
    state: present
    namespace: "{{ prowNamespace }}"
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: hmac-token
      type: Opaque            
      data:
        hmac: "{{ prowHmac | b64encode }}"
- name: Create OAuth secret
  k8s:
    state: present
    namespace: "{{ prowNamespace }}"
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: oauth-token
      type: Opaque
      data:
        oauth: "{{ githubToken | b64encode }}"
- name: Update prow config
  k8s:
    state: present
    namespace: "{{ prowNamespace }}"
    definition: "{{ lookup('template', '{{ role_path }}/templates/config.yaml') | from_yaml }}"
  vars:
    prowConfig: "{{ lookup('file', '{{ role_path }}/files/config.yaml') }}"
- name: Update prow plugins config 
  k8s:
    state: present
    namespace: "{{ prowNamespace }}"
    definition: "{{ lookup('template', '{{ role_path }}/templates/plugins.yaml') | from_yaml }}"
  vars:
    prowPluginsConfig: "{{ lookup('file', '{{ role_path }}/files/plugins.yaml') }}"
- name: Update prow job config
  k8s:
    state: present
    namespace: "{{ prowNamespace }}"
    definition: "{{ lookup('template', '{{ role_path }}/templates/job-config.yaml') | from_yaml }}"
  vars:
    prowJobConfig: "{{ lookup('file', '{{ role_path }}/files/job-config.yaml') }}"
- name: Update prow label-sync config
  k8s:
    state: present
    namespace: "{{ prowNamespace }}"
    definition: "{{ lookup('template', '{{ role_path }}/templates/labels.yaml') | from_yaml }}"
  vars:
    prowLabelsConfig: "{{ lookup('file', '{{ role_path }}/files/labels.yaml') }}"
- name: Deploy prow-hook-role
  command: "oc -n {{prowNamespace}} apply -f -"
  args:
    stdin: "{{ lookup('template', '{{ role_path }}/templates/hook-rbac.yaml')}}"
- name: Deploy prow-hook-service-account
  k8s:
    state: present
    namespace: "{{ prowNamespace }}"
    definition: "{{ lookup('template', '{{ role_path }}/templates/hook-service-account.yaml') | from_yaml }}"
- name: Deploy prow-hook-rbac-role-binding
  command: "oc -n {{ prowNamespace }} apply -f -"
  args:
    stdin: "{{ lookup('template', '{{ role_path }}/templates/hook-rbac-role-binding.yaml')}}"
- name: Deploy prow-hook
  k8s:
    state: present
    namespace: "{{ prowNamespace }}"
    definition: "{{ lookup('template', '{{ role_path }}/templates/hook.yaml') | from_yaml }}"
- name: Deploy prow-hook-service
  k8s:
    state: present
    namespace: "{{ prowNamespace }}"
    definition: "{{ lookup('template', '{{ role_path }}/templates/hook-service.yaml') | from_yaml }}"
- name: Deploy horologium-rbac
  command: "oc -n {{ prowNamespace }} apply -f -"
  args:
    stdin: "{{ lookup('template', '{{ role_path }}/templates/horologium-rbac.yaml')}}"
- name: Deploy horologium
  k8s:
    state: present
    namespace: "{{ prowNamespace }}"
    definition: "{{ lookup('template', '{{ role_path }}/templates/horologium-deployment.yaml') | from_yaml }}"
- name: Deploy plank-rbac
  command: "oc -n {{ prowNamespace }} apply -f -"
  args:
    stdin: "{{ lookup('template', '{{ role_path }}/templates/plank-rbac.yaml')}}"
- name: Deploy plank
  k8s:
    state: present
    namespace: "{{ prowNamespace }}"
    definition: "{{ lookup('template', '{{ role_path }}/templates/plank-deployment.yaml') | from_yaml }}"
- name: Deploy sinker-rbac
  command: "oc -n {{ prowNamespace }} apply -f -"
  args:
    stdin: "{{ lookup('template', '{{ role_path }}/templates/sinker-rbac.yaml')}}"
- name: Deploy sinker
  k8s:
    state: present
    namespace: "{{ prowNamespace }}"
    definition: "{{ lookup('template', '{{ role_path }}/templates/sinker-deployment.yaml') | from_yaml }}"
- name: Deploy label-sync cron job
  k8s:
    state: present
    namespace: "{{ prowNamespace }}"
    definition: "{{ lookup('template', '{{ role_path }}/templates/label-sync.yaml') | from_yaml }}"
- name: Deploy needs-rebase
  k8s:
    state: present
    namespace: "{{ prowNamespace }}"
    definition: "{{ lookup('template', '{{ role_path }}/templates/needs-rebase_deployment.yaml') | from_yaml }}"
- name: Deploy needs-rebase-service
  k8s:
    state: present
    namespace: "{{ prowNamespace }}"
    definition: "{{ lookup('template', '{{ role_path }}/templates/needs-rebase_service.yaml') | from_yaml }}"
- name: Deploy cherrypicker
  k8s:
    state: present
    namespace: "{{ prowNamespace }}"
    definition: "{{ lookup('template', '{{ role_path }}/templates/cherrypicker_deployment.yaml') | from_yaml }}"
- name: Deploy cherrypicker-service
  k8s:
    state: present
    namespace: "{{ prowNamespace }}"
    definition: "{{ lookup('template', '{{ role_path }}/templates/cherrypicker_service.yaml') | from_yaml }}"
- name: Deploy prow-deck-rbac
  command: "oc -n {{prowNamespace}} apply -f -"
  args:
    stdin: "{{ lookup('template', '{{ role_path }}/templates/deck-rbac.yaml')}}"
- name: Deploy prow-deck-service
  command: "oc -n {{prowNamespace}} apply -f -"
  args:
    stdin: "{{ lookup('template', '{{ role_path }}/templates/deck-service.yaml')}}"
- name: Deploy prow-deck-deployment
  command: "oc -n {{prowNamespace}} apply -f -"
  args:
    stdin: "{{ lookup('template', '{{ role_path }}/templates/deck-deployment.yaml')}}"
- name: Deploy prow-tide-rbac
  command: "oc -n {{prowNamespace}} apply -f -"
  args:
    stdin: "{{ lookup('template', '{{ role_path }}/templates/tide-rbac.yaml')}}"
- name: Deploy prow-tide-service
  command: "oc -n {{prowNamespace}} apply -f -"
  args:
    stdin: "{{ lookup('template', '{{ role_path }}/templates/tide-service.yaml')}}"
- name: Deploy prow-tide-deployment
  command: "oc -n {{prowNamespace}} apply -f -"
  args:
    stdin: "{{ lookup('template', '{{ role_path }}/templates/tide-deployment.yaml')}}"
